* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --hight: calc(100% / 7);
}
body {
  background-color: aquamarine;
}
.container {
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
  width: 300px;
  height: 430px;
  text-align: center;
  background-color: #333;
  border-radius: 10px;
  position: relative;
}
.container input[type="text"] {
  width: 86%;
  height: var(--hight);
  font-size: 30px;
  margin-top: 15px;
  border: 2px solid;
  border-radius: 5px;
  cursor: unset;
}
#text:focus {
  outline: none;
}
.row {
  width: 90%;
  margin: auto;
  height: var(--hight);
  padding: 5px 0;
  position: relative;
}
.row button {
  display: inline-block;
  width: calc(90% / 4);
  height: var(--hight);
  padding: 0.85rem;
  font-size: 1.65rem;
  border-radius: 0.7rem;
  border: 0;
  cursor: pointer;
}
.row button#equal {
  width: calc(90% / 2 + 2.2%);
  background-color: crimson;
}
.container button:not(.num):not(.op) {
  background-color: yellow;
}
.op {
  background-color: orangered;
}
